.content {
  width: 100%;
  height: calc(100vh - 4.25rem);
  display: flex;
  justify-content: center;
  align-items: center;

  .formWrapper {
    width: min-content;
    .title {
      font-size: 48px;
      font-weight: 500;
      margin: 24px 0;
      text-align: center;
    }
  }
}
