.formItem {
  margin-bottom: 1.25rem;

  .formInput {
    // TODO: Fix
    border-bottom: 1px solid #444;
    display: flex;
    height: 27px;
    width: 300px;

    .iconContainer {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      justify-content: center;
      width: 40px;
    }
    .inputField {
      border: none;
      flex-grow: 1;
      font-size: 16px;
      font-family: 'DM Sans', sans-serif;
      line-height: 1.5;
    }
  }

  .formError {
    // TODO: Fix
    color: #ef626c;
    height: 20px;
    font-size: 14px;
  }
}
